<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sent_messages.css' %}"
</head>
<body>
<div class="container">
    <h2>📤 Sent Messages</h2>
    <ul>
        {% for msg in messages %}
            <li>
                To <b>{{ msg.receiver.username }}</b>: {{ msg.message_text }}
                <small>{{ msg.created_at }}</small>
            </li>
        {% empty %}
            <li>No messages sent.</li>
        {% endfor %}
    </ul>
</div>

</body>
</html>